<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".properties" mimeType="application/octet-stream" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Redirecting for Cache Buster UI5">
                    <match url="^webapp\/~\d{14}~(.*)" />
                    <action type="Rewrite" url="webapp{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
